


.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-color;
    padding: $pad-nav;

    ul{
        list-style: map-get($styles, liststyle );
        display: flex;
        padding: 0;
        justify-content: space-between;
    }

    ul li{
        margin: map-get($styles, marginUno );
    
    }

    ul a{
      @include navbar ($bord-Col:#39396b, $back-col:#494c68)
    }

    ul a:hover{
        color: #9898ca;
        background-color: #4e5277;
        border-bottom: 3px solid #39396b;
    }
  }

