$styles: (
    liststyle: none,
    displayflex: flex,
    flexcolumns: column,
    alignitems: center,
    marginUno: 5px 30px,
    textdecoration: none,
    height100: 100%,
    width100: 100%,
    justifycont: center,
    


)